# Masquer les bibliothèques externes des statistiques de langage
src/libs/** linguist-vendored

# Si tu veux être plus précis
src/libs/imgui/** linguist-vendored

# Ignorer aussi les dépendances téléchargées par CMake (FetchContent)
build/_deps/** linguist-vendored
_deps/** linguist-vendored